@media screen and (min-width: 1024px) {}

/*Tablets*/
@media screen and (min-width: 768px) and (max-width:1023px) {
  .container {
    grid-template-areas:
      "blanco1 blanco1 social-media social-media nav-bar nav-bar nav-bar"
      "blanco2 personal personal personal about-me about-me about-me "
      "donwnload__cv personal personal personal hard-skills soft-skills blanco3"
      "donwnload__cv contact contact projects experience experience blanco3"
      "hobbies contact contact languages education education mondrian"
      "hobbies blanco5 blanco5 crud education education mondrian"
      "hobbies footer footer footer footer footer mondrian";

  }

  .personal__picture__img {

    max-width: 15rem;
  }
}




/*Smartphones*/

@media screen and (min-width: 480px) and (max-width:767px) {
  .container {
    grid-template-columns: 0.7fr 0.6fr 1.1fr 1.6fr 1fr 1.3fr 0.7fr;
    grid-template-rows: 0.5fr 2fr 1.6fr 1.1fr 0.7fr 0.9fr 0.6fr;
    grid-template-areas:
      "social-media social-media social-media nav-bar nav-bar nav-bar nav-bar"
      "personal personal personal personal personal personal personal"
      "about-me about-me about-me about-me projects projects languages"
      "donwnload__cv hard-skills hard-skills soft-skills experience experience crud"
      "donwnload__cv contact contact contact education education mondrian"
      "hobbies contact contact contact education education mondrian"
      "footer footer footer footer footer footer footer";
  }

  .personal {
    grid-template-areas:
      "personal__picture personal__picture personal_data"
      "personal__picture personal__picture personal_data"
      "personal__picture personal__picture personal_data";

  }
}


@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: 0.7fr 0.6fr 1.1fr 1.6fr 1fr 1.3fr 0.7fr;
    grid-template-rows: 0.5fr 2fr 1.6fr 1.1fr 0.7fr 0.9fr 0.6fr;
    grid-template-areas:
      "social-media social-media social-media nav-bar nav-bar nav-bar nav-bar"
      "personal personal personal personal personal personal personal"
      "about-me about-me about-me about-me projects projects languages"
      "donwnload__cv hard-skills hard-skills soft-skills experience experience crud"
      "donwnload__cv contact contact contact education education mondrian"
      "hobbies contact contact contact education education mondrian"
      "footer footer footer footer footer footer footer";
  }



  .personal {
    grid-template-areas:
      "personal__picture personal__picture personal_data"
      "personal__picture personal__picture personal_data"
      "personal__picture personal__picture personal_data";

  }

  .texto {
    font-size: 1rem;
  }

  .texto1 {
    font-size: 0.7rem;
    font-weight: 300;
  }

  .descr {
    font-size: 0.5rem;
  }

  .temp {
    font-size: 0.5rem;
  }

  .icono img {
    width: 30px
  }

}