@media  screen and (min-width: 1024px) {

}

@media  screen and (min-width: 768px) and (max-width:1023px) {

}
@media  screen and (min-width: 480px) and (max-width:767px) {
    .educacion__item1,  
    .educacion__item2,  
    .educacion__item3{
      
      font-size: 1rem;
      padding: 0rem;
      text-align: center;
    }
    .educacion__item1 img,  
    .educacion__item2 img,  
    .educacion__item3 img{
      
      width: 80%;
      
    }
    .educacion__descargar__cv {
       
        font-size: 1rem;
       
    }
}

@media  screen and (max-width: 480px)  {
    .modal__container__education{
        width: 85vw;
        height: 85vh;
      
      }
    .educacion__titulo {
        grid-area: educacion__titulo;
        font-size: 1.5rem;
      letter-spacing: 1rem;
      margin-bottom: 1rem;
     
    }


    .educacion__item1,  
    .educacion__item2,  
    .educacion__item3{
      
      font-size: 0.9rem;
      padding: 0.1rem;
      text-align: center;
    }
    .educacion__item1 img,  
    .educacion__item2 img,  
    .educacion__item3 img{
      
      width: 60%;
      
    }
    .educacion__descargar__cv {
       
        font-size: 0.8rem;
       
       
    }
}
