.modal__container__proyectos {
    width: 90vw;
    height: 90vh;
    background-color: var(--black-mondrian);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 0.7fr 1fr 0.5fr;
    gap: 0.5rem 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
        "modal__container__proyecto5 modal__container__proyecto5 modal__container__proyecto2 modal__container__proyecto2 modal__container__proyecto2"
        "modal__container__proyecto5 modal__container__proyecto5 modal__container__proyecto3 modal__container__proyecto3 modal__container__proyecto4"
        "modal__container__proyecto1 modal__container__proyecto1 modal__container__proyecto3 modal__container__proyecto3 modal__container__proyecto4"
        "modal__container__proyecto1 modal__container__proyecto1 modal__container__proyecto6 modal__container__proyecto6 modal__container__proyecto7"
        "modal__close__proyectos__area modal__close__proyectos__area modal__close__proyectos__area modal__close__proyectos__area modal__close__proyectos__area";
}

.modal__container__proyecto1,
.modal__container__proyecto2,
.modal__container__proyecto3,
.modal__container__proyecto4,
.modal__container__proyecto5,
.modal__container__proyecto6,
.modal__container__proyecto7,
.modal__close__proyectos__area {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 600ms;

}

.modal__container__proyecto1 {
    grid-area: modal__container__proyecto1;
    background-color: var(--red-mondrian);
    color: var(--white-mondrian);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "modal__container__proyecto1__titulo modal__container__proyecto1__titulo "
        "modal__container__proyecto1__web modal__container__proyecto1__web"
        "modal__container__proyecto1__repo1 modal__container__proyecto1__repo2 ";
}

.modal__container__proyecto1__titulo,
.modal__container__proyecto1__web,
.modal__container__proyecto1__repo1,
.modal__container__proyecto1__repo2,
.modal__container__proyecto2__web,
.modal__container__proyecto2__repo,
.modal__container__proyecto2__titulo,
.modal__container__proyecto3__web,
.modal__container__proyecto3__repo,
.modal__container__proyecto3__titulo,
.modal__container__proyecto4__web,
.modal__container__proyecto4__repo,
.modal__container__proyecto4__titulo,
.modal__container__proyecto5__web,
.modal__container__proyecto5__repo,
.modal__container__proyecto5__titulo,
.modal__container__proyecto6__web,
.modal__container__proyecto6__repo,
.modal__container__proyecto6__titulo,
.modal__container__proyecto7__web,
.modal__container__proyecto7__repo,
.modal__container__proyecto7__titulo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.modal__container__proyecto1__titulo {
    grid-area: modal__container__proyecto1__titulo;
    font-size: 1.5rem;
}
.modal__container__proyecto2__titulo img,
.modal__container__proyecto3__titulo img,
.modal__container__proyecto5__titulo img{
    width: 20rem;
    max-width:200px;

}
.modal__container__proyecto1__web,
.modal__container__proyecto1__repo1,
.modal__container__proyecto1__repo2, 
.modal__container__proyecto2__web,
.modal__container__proyecto2__repo,
.modal__container__proyecto3__web,
.modal__container__proyecto3__repo,
.modal__container__proyecto4__web,
.modal__container__proyecto4__repo,
.modal__container__proyecto5__web,
.modal__container__proyecto5__repo,
.modal__container__proyecto6__web,
.modal__container__proyecto6__repo, 
.modal__container__proyecto7__web,
.modal__container__proyecto7__repo{
    width: 100%;
    height: 100%;
    transition: 600ms;

}

.modal__container__proyecto1__web {
    grid-area: modal__container__proyecto1__web;
    font-size: 1.3rem;
}

.modal__container__proyecto1__repo1,
.modal__container__proyecto1__repo2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 1.2rem;

}

.modal__container__proyecto1__repo1 {
    grid-area: modal__container__proyecto1__repo1;
    font-size: 1.3rem;
}

.modal__container__proyecto1__repo2 {
    grid-area: modal__container__proyecto1__repo2;
    font-size: 1.3rem;
}

.modal__container__proyecto1__web:hover, 
.modal__container__proyecto1__repo1:hover,
.modal__container__proyecto1__repo2:hover{

    transform: scale(0.95);
    background-color: var(--white-mondrian);
    color: var(--red-mondrian);
   
}



.modal__container__proyecto2__web:hover,
.modal__container__proyecto2__repo:hover{
    transform: scale(0.95);
    background-color: var(--yellow-mondrian);
}
/* .modal__container__proyecto3__web:hover,
.modal__container__proyecto3__repo:hover{
    transform: scale(0.95);
    background-color: var(--blue-mondrian);
    color: var(--yellow-mondrian);
} */
.modal__container__proyecto4__web:hover,
.modal__container__proyecto4__repo:hover{
    transform: scale(0.95);
    background-color: var(--blue-mondrian);
    color: var(--white-mondrian);
}
.modal__container__proyecto7__web:hover,
.modal__container__proyecto7__repo:hover {
    transform: scale(0.95);
    background-color: var(--black-mondrian);
    color: var(--white-mondrian);
}
/* .modal__container__proyecto5__web:hover, */
.modal__container__proyecto5__repo:hover{
    transform: scale(0.95);
    background-color: var(--yellow-mondrian);
    color: var(--blue-mondrian);
}
.modal__container__proyecto6__web:hover,
.modal__container__proyecto6__repo:hover{
    transform: scale(0.95);
    background-color: var(--blue-mondrian);
    color: var(--black-mondrian);
}
.modal__container__proyecto2 {
    grid-area: modal__container__proyecto2;
    background-color: var(--red-mondrian);
    color: var(--blue-mondrian);

    grid-area: modal__container__proyecto2;
    background-color: var(--white-mondrian   );
    color: var(--blue-mondrian);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "modal__container__proyecto2__titulo  "
        "modal__container__proyecto2__web "
        "modal__container__proyecto2__repo  ";
}
.modal__container__proyecto2__titulo {
    grid-area: modal__container__proyecto2__titulo;
    font-size: 1.5rem;
}
.modal__container__proyecto2__web {
    grid-area: modal__container__proyecto2__web;
    font-size: 1.3rem;
}
.modal__container__proyecto2__repo {
    grid-area: modal__container__proyecto2__repo;
    font-size: 1.3rem;
}



.modal__container__proyecto3 {
    grid-area: modal__container__proyecto3;
    background-color: var(--yellow-mondrian);
    color: var(--blue-mondrian);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "modal__container__proyecto3__titulo  "
        "modal__container__proyecto3__web "
        "modal__container__proyecto3__repo";
    }


.modal__container__proyecto3__titulo {
    grid-area: modal__container__proyecto3__titulo;
    font-size: 1.5rem;
}
.modal__container__proyecto3__web {
    grid-area: modal__container__proyecto3__web;
    font-size: 1.3rem;
}
.modal__container__proyecto3__repo {
    grid-area: modal__container__proyecto3__repo;
    font-size: 1.3rem;
}




.modal__container__proyecto4 {
    grid-area: modal__container__proyecto4;
    background-color: var(--black-mondrian);
    color: var(--blue-mondrian);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "modal__container__proyecto4__titulo"
        "modal__container__proyecto4__web"
        "modal__container__proyecto4__repo";

}

.modal__container__proyecto4__titulo {
    grid-area: modal__container__proyecto4__titulo;
    font-size: 1.5rem;
}
.modal__container__proyecto4__web {
    grid-area: modal__container__proyecto4__web;
    font-size: 1.3rem;
}
.modal__container__proyecto4__repo {
    grid-area: modal__container__proyecto4__repo;
    font-size: 1.3rem;
}


.modal__container__proyecto5 {
    grid-area: modal__container__proyecto5;
    background-color: var(--blue-mondrian);
    color: var(--white-mondrian);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "modal__container__proyecto5__titulo"
        "modal__container__proyecto5__web"
        "modal__container__proyecto5__repo";
}

.modal__container__proyecto5__titulo {
    grid-area: modal__container__proyecto5__titulo;
    font-size: 1.5rem;
}
.modal__container__proyecto5__web {
    grid-area: modal__container__proyecto5__web;
    font-size: 1.3rem;
}
.modal__container__proyecto5__repo {
    grid-area: modal__container__proyecto5__repo;
    font-size: 1.3rem;
}






.modal__container__proyecto6 {
    grid-area: modal__container__proyecto6;
    background-color: var(--blue-mondrian);
    color: var(--white-mondrian);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "modal__container__proyecto6__titulo"
        "modal__container__proyecto6__web"
        "modal__container__proyecto6__repo";
}

.modal__container__proyecto6__titulo {
    grid-area: modal__container__proyecto6__titulo;
    font-size: 1.5rem;
}
.modal__container__proyecto6__web {
    grid-area: modal__container__proyecto6__web;
    font-size: 1.3rem;
}
.modal__container__proyecto6__repo {
    grid-area: modal__container__proyecto6__repo;
    font-size: 1.3rem;
}

.modal__container__proyecto7 {
    grid-area: modal__container__proyecto7;
    background-color: var(--white-mondrian);
    color: var(--blue-mondrian);
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "modal__container__proyecto7__titulo"
        "modal__container__proyecto7__web"
        "modal__container__proyecto7__repo";

}

.modal__container__proyecto7__titulo {
    grid-area: modal__container__proyecto7__titulo;
    font-size: 1.5rem;
}
.modal__container__proyecto7__web {
    grid-area: modal__container__proyecto7__web;
    font-size: 1.3rem;
}
.modal__container__proyecto7__repo {
    grid-area: modal__container__proyecto7__repo;
    font-size: 1.3rem;
}









.modal__close__proyectos__area {
    grid-area: modal__close__proyectos__area;
    background-color: var(--white-mondrian);

}






