
.modal__container__hard{
    width: 70vw;
    height: 80vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var(--blue-mondrian);
}

.modal__container__hard {  display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr;
   gap: 0px 0px;
   grid-auto-flow: row;
   grid-template-areas:
     "hard__skills__item1 hard__skills__item2 hard__skills__item3"
     "hard__skills__item4 hard__skills__item5 hard__skills__item6"
     "hard__skills__item7 hard__skills__item8 hard__skills__item9"
     "hard__skills__item10 hard__skills__item11 hard__skills__item12"
     "modal__close__hard modal__close__hard modal__close__hard";
 }
 
 .hard__skills__item1 { grid-area: hard__skills__item1; }
 
 .hard__skills__item2 { grid-area: hard__skills__item2; }
 
 .hard__skills__item3 { grid-area: hard__skills__item3; }
 
 .hard__skills__item4 { grid-area: hard__skills__item4; }
 
 .hard__skills__item5 { grid-area: hard__skills__item5; }
 
 .hard__skills__item6 { grid-area: hard__skills__item6; }
 
 .hard__skills__item7 { grid-area: hard__skills__item7; }
 
 .hard__skills__item8 { grid-area: hard__skills__item8; }
 
 .hard__skills__item9 { grid-area: hard__skills__item9; }
 
 .hard__skills__item10 { grid-area: hard__skills__item10; }
 
 .hard__skills__item11 { grid-area: hard__skills__item11; }
 
 .hard__skills__item12 { grid-area: hard__skills__item12; }
 
 .modal__close__hard { grid-area: modal__close__hard; }

.hard__skills__lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    
  }
  
  .hard__skills__item {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    /* padding: 1.5rem; */
    color: var(--yellow-mondrian);
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    
  }
 .hard__skills__icon{
    padding: 1rem;
    font-size: 4rem;
    
    justify-content: center;
    align-items: center; 
    flex-direction: column;
 }
 
 
 .hard__skills__icon__img, .hard__skills__icon__lims{
   padding: 1rem;
        width: 50%;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
 }
 .hard__skills__icon__lims


 .hard__skills__text{
    padding: 1rem;
    font-size: 1rem;
    text-decoration: none;
 }
 .hard__skills__texto__titulo{
    padding: 1rem;
    transition: 600ms;
 }
 .hard__skills__texto__link{
    cursor: pointer;
    transition: 600ms;
    
 }
 .hard__skills__texto__link:hover{
    text-shadow: 8px 8px 3px rgba(150, 150, 150, 0.95);
    transform: scale(1.2);

 }
 /* .hard__skills__texto__titulo:hover{
    transform: scale(1.2);
 } */