.modal__Hard,
.modal__Soft,
.modal__Contacto,
.modal__Proyectos, 
.modal__Experiencia, 
.modal__Hobbies, 
.modal__Languages, 
.modal__Education, 
.modal__Mondrian, 
.modal__Crud{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0;
    pointer-events: none;
    /* transition: opacity .6s ; */
    /* --transform: translateY(-100vh);
    --transition: transform .8s; */
}



.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform:  translateY(0);
    --transition: transform .8s ;
}

.modal__container{
    margin: auto;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    
}

.modal__container__hard{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var(--blue-mondrian);

}

.modal__container__soft{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var(--red-mondrian);
   
}
.modal__container__contacto{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --yellow-mondrian);
   
}
.modal__container__proyectos{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --blue-mondrian);
   
}
.modal__container__experiencia{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --red-mondrian);
}

.modal__container__hobbies{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --white-mondrian);
}
.modal__container__languages{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --yellow-mondrian);
}
.modal__container__education{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --red-mondrian);
}
.modal__container__mondrian{
    width: 50vw;
    height: 70vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --yellow-mondrian);
}


.modal__container__mondrian__grilla {  

    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "modal__tiitulo__mondrian modal__tiitulo__mondrian modal__tiitulo__mondrian"
      "modal__cuerpo__mondrian modal__cuerpo__mondrian modal__cuerpo__mondrian"
      "modal__link__mondrian modal__link__mondrian modal__link__mondrian"
      "modal__pie__mondrian modal__pie__mondrian modal__pie__mondrian";
  }
  
  .modal__tiitulo__mondrian {
      grid-area: modal__tiitulo__mondrian;
      display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 2rem;
    padding: 2rem 2rem 3rem 2rem;
    font-weight: bold;


  }

  .modal__cuerpo__mondrian {
      grid-area: modal__cuerpo__mondrian;
      font-size: 1.2rem;
      line-height: 2rem;

  }

  .modal__link__mondrian {
      grid-area: modal__link__mondrian;
      display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 1.2rem;
      line-height: 2rem;
  }

  .modal__pie__mondrian {
      grid-area: modal__pie__mondrian;
      display: flex;
    justify-content: center;
    align-items: center;  
  }







.modal__container__crud{
    width: 75vw;
    height: 75vh;
    border: var(--black-mondrian) solid 0.2rem;
    background-color: var( --yellow-mondrian);
}

.modal__title{
    font-size: 2.5rem;/*ver esta medida*/
}
.modal__paragraph{
    margin-bottom: 10px;
    font-size: 1.7rem;

}
.modal__close, 
.modal__close__soft, 
.modal__close__contacto, 
.modal__close__proyectos, 
.modal__close__experiencia, 
.modal__close__hobbies, 
.modal__close__languages, 
.modal__close__education, 
.modal__close__mondrian, 
.modal__close__crud{
    text-decoration: none;
    color: var(--white-mondrian);
    background-color: var(--red-mondrian);
    padding: 1em 3em;
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}
.modal__close:hover,
.modal__close__soft:hover, 
.modal__close__contacto:hover, 
.modal__close__proyectos:hover, 
.modal__close__experiencia:hover, 
.modal__close__hobbies:hover,
.modal__close__languages:hover, 
.modal__close__education:hover, 
.modal__close__mondrian:hover, 
.modal__close__crud:hover{
    color: var(--red-mondrian) ;
    background-color: var(--white-mondrian);
}